body {
	margin: auto;   /* centers <body> */
    font-family: "MetropolitanoRegular";
	/*font-family: 'AvaraBold';
	font-weight: normal;
	font-style: normal;*/
   
}

header {
	text-align: center;
	background-color: #0a6daa;
	color: white;
}

a {
	font-weight: bold;
}

nav {
	margin-top: 64px;
    width: 100%;
    background-color: #0a6daa;
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 16%;
    text-align: center;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0px;
}

.sub-menu{
    display: none;
    box-shadow: 0px 2px 4px #CCC;
    background-color: #0a6daa;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sub-menu{
    display: block;
}
.sub-menu li{
    float: none;
    width: 100%;
    text-align: left;
}
.sub-menu a{
    padding: 10px;
    border-bottom: none;
}
.sub-menu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.menu-container > a::after{
    content:" ▼";
    font-size: 12px;
}

main {
	margin: -16px 0px;
}

footer {
	color: white;
	background-color: #363636;
	background-image: url('assets/logo_footer.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
	justify-content: center;
}

.footer_links {
	display: flex;
	gap: 32px;
	justify-content: center;
}

.footer_links > div {
	width: 100%;
	margin-top: 64px;
	margin-bottom: 64px;
	border-color: whitesmoke;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.socials_links {
	margin-bottom: 32px;
    display: flex;
    gap: 48px;
}

footer a:link { text-decoration: none; color: white; }
footer a:visited { text-decoration: none; color: white; }
footer a:hover { text-decoration: none; color: white; }
footer a:active { text-decoration: none; color: white; }