.flex_downwards {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    justify-content: center; 
}

.c_places {
	width: 100%;
}

.c_beach {
	width: 100%;
}

.c_walk {
	width: 100%;
}

.c_walk > h1 {
	display: inline-block;
    background-color: rgb(136, 208, 249);
    border-radius: 0.6em;
    padding: 0.3em;
}

section {
	overflow: hidden;
	margin-bottom: 32px;
	width: 20vw;
	border-radius: 0.4em;
	background-color: whitesmoke;
	box-shadow: 1px 1px 3px 1px gray;
	transition-property: border-radius;
	transition-duration: 0.2s;
}

section:hover {
	border-radius: 2.5em;
	box-shadow: 2px 2px 4px 2px gray;
}

.section_container {
	display: flex;
	flex-direction: row;
	gap: 8vw;
	justify-content: center;
}

.clickable_content {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.clickable_content:link { text-decoration: none; color: black; }
.clickable_content:visited { text-decoration: none; color: black; }
.clickable_content:hover { text-decoration: none; color: black; }
.clickable_content:active { text-decoration: none; color: black; }

.form_layout {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 48px;
	color: #ffffff;
	overflow: hidden;
	background-image: url('assets/home/bg_form.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	margin-bottom: 16px;
	padding-bottom: 48px;
}

.form_layout > h1 {
	display: inline-block;
    background-color: rgb(136, 208, 249);
    border-radius: 0.6em;
    padding: 0.4em;
}

.button_form {
	background-color:#ff0000;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.button_form:hover {
	background-color:#e62929;
}
.button_form:active {
	position:relative;
	top:1px;
}

main {
	background-image: url('https://www.hotel-residence-marseille.com/_novaimg/4940466-1486267_0_0_4800_3204_2097_1400.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}